<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../style/profile.css">
    <script src="../server.js"></script>
    <title>Andy Profile</title>
</head>

<body>
    <nav class="top-bar">
        <div class="logo"></div>
    </nav>
    <div class="background">
        <div class="panel">
            <div class="panel-background">
                <div class="panel-image"> </div>
            </div>
            <div class="panel-content">
                <h2 class="panel-content-title">良程吉食</h2>
                <p class="panel-content-brief">拿著吉他邊進食邊 debug 的生活日常</p>
                <ul class="panel-content-experience">
                    <li>新竹高中</li>
                    <li>成功大學 資工系</li>
                    <li>陽明交通大學 網路工程所</li>
                </ul>
                <div class="panel-content-link">
                    <a href="https://www.facebook.com/profile.php?id=100002614016172" target="_blank">
                        <div class="panel-content-fb"></div>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <div class="panel-content-ig"></div>
                    </a>
                    <a href="https://github.com/Chialiang86" target="_blank">
                        <div class="panel-content-github"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="article-container">
            <section class="filter-bar">
                <div class="filter-icon">生活雜記</div>
                <div class="filter-icon">程式開發</div>
                <div class="filter-icon">工作心得</div>
                <div class="filter-icon">業餘料理</div>
            </section>
            <a href="/articles/new" class="btn btn-success">New Articles</a>

            <% articles.forEach(article => { %>
                <section class="article"> 
                    <h2><%= article.title %></h2>
                    <div class="article-title-bottom-line">
                        <p class="article-timestamp"><%= article.timeStamp %></p>
                        <p class="article-baseline"></p>
                    </div>
                    <div class="article-preview-image"></div>
                    <div class="article-preview-content">
                        <%= article.description %>
                    </div>
                    <a href="articles/<%= (article.slug).replace(/[^a-zA-Z0-9_\s-\u3400-\u9FBF]/g,'') %>" class="article-continue">繼續閱讀</a>
                </section>
            <% }) %>
        </div>
        
        <div class="information-panel">
            <section class="about-panel">
                <h2 class="about-title">About Me</h2>
                <div class="about-headshot"></div>
                <ul class="about-list">
                    <li>郭家良</li>
                    <li>寫程式當專業</li>
                    <li>彈吉他當興趣</li>
                    <li>做料理學生活</li>
                    <li>耍廢填滿日常</li>
                    <li>a930039930039@gmail.com</li>
                </ul>
                <div class="about-continue">詳細內容</div>
            </section>
            <section class="article-tags">
                <h2 class="article-tags-title">Tags</h2>
                <div class="tags-container">
                    <p>程式學習</p>
                    <p>Python</p>
                    <p>C</p>
                    <p>C++</p>
                    <p>C#</p>
                    <p>linux</p>
                    <p>網頁開發</p>
                    <p>家常菜</p>
                    <p>燉牛肉</p>
                    <p>炊飯</p>
                    <p>燉飯</p>
                    <p>遊記</p>
                    <p>日常心得</p>
                </div>
            </section>
        </div>
    </div>
</body>

</html>